*.swp
.aws/
.CFUserTextEncoding
.DS_Store
.bash_history
.bash_sessions/
.bundle/
.cache/
.cups/
.gem/
.lesshst
.local/
.mycli-history
.mycli.log
.mysql_history
.node-gyp/
.oracle_jre_usage/
.pry_history
.rbenv/
.sqlite_history
.ssh/
.subversion/
.tmux/
.vagrant.d/
.vim/
.viminfo
.webdrivers/
.zcompdump-dev5-5.7.1
.zsh_history
.yarnrc
1000paces/
Applications/
Code/
Creative Cloud Files/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
bin/

